#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input {
  height: 40px;
  margin-bottom: 1rem;
}

.button-input{
  height: 40px;
  margin-bottom: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}